[submodule "xatkit-runtime"]
	path = xatkit-runtime
	url = https://github.com/xatkit-bot-platform/xatkit-runtime.git
[submodule "xatkit-metamodels"]
	path = xatkit-metamodels
	url = https://github.com/xatkit-bot-platform/xatkit-metamodels.git
[submodule "xatkit-examples"]
	path = xatkit-examples
	url = https://github.com/xatkit-bot-platform/xatkit-examples.git
[submodule "platforms/xatkit-chat-platform"]
	path = platforms/xatkit-chat-platform
	url = https://github.com/xatkit-bot-platform/xatkit-chat-platform.git
[submodule "platforms/xatkit-giphy-platform"]
	path = platforms/xatkit-giphy-platform
	url = https://github.com/xatkit-bot-platform/xatkit-giphy-platform.git
[submodule "platforms/xatkit-github-platform"]
	path = platforms/xatkit-github-platform
	url = https://github.com/xatkit-bot-platform/xatkit-github-platform.git
[submodule "platforms/xatkit-react-platform"]
	path = platforms/xatkit-react-platform
	url = https://github.com/xatkit-bot-platform/xatkit-react-platform.git
[submodule "platforms/xatkit-slack-platform"]
	path = platforms/xatkit-slack-platform
	url = https://github.com/xatkit-bot-platform/xatkit-slack-platform.git
[submodule "processors/xatkit-processors"]
	path = processors/xatkit-processors
	url = https://github.com/xatkit-bot-platform/xatkit-processors.git
[submodule "intent-providers/xatkit-dialogflow"]
	path = intent-providers/xatkit-dialogflow
	url = https://github.com/xatkit-bot-platform/xatkit-dialogflow.git
[submodule "intent-providers/xatkit-nlpjs"]
	path = intent-providers/xatkit-nlpjs
	url = https://github.com/xatkit-bot-platform/xatkit-nlpjs.git
[submodule "monitoring/xatkit-logs-mapdb"]
	path = monitoring/xatkit-logs-mapdb
	url = https://github.com/xatkit-bot-platform/xatkit-logs-mapdb.git
[submodule "monitoring/xatkit-logs-postgres"]
	path = monitoring/xatkit-logs-postgres
	url = https://github.com/xatkit-bot-platform/xatkit-logs-postgres.git
