[submodule "xatkit-runtime"]
	path = xatkit-runtime
	url = https://github.com/xatkit-bot-platform/xatkit-runtime.git
[submodule "xatkit-metamodels"]
	path = xatkit-metamodels
	url = https://github.com/xatkit-bot-platform/xatkit-metamodels.git
[submodule "xatkit-eclipse"]
	path = xatkit-eclipse
	url = https://github.com/xatkit-bot-platform/xatkit-eclipse.git
[submodule "xatkit-examples"]
	path = xatkit-examples
	url = https://github.com/xatkit-bot-platform/xatkit-examples.git
[submodule "libraries/xatkit-core-library"]
	path = libraries/xatkit-core-library
	url = https://github.com/xatkit-bot-platform/xatkit-core-library.git
[submodule "platforms/xatkit-alexa-platform"]
	path = platforms/xatkit-alexa-platform
	url = https://github.com/xatkit-bot-platform/xatkit-alexa-platform.git
[submodule "platforms/xatkit-chat-platform"]
	path = platforms/xatkit-chat-platform
	url = https://github.com/xatkit-bot-platform/xatkit-chat-platform.git
